.container{
	width: 800px;
	height: 800px;
	margin: auto;
}
.header {
	width:100%;
	height: 10%;
}
.logo {
	width: 25%;
	height: 100%;
	float: left;
	background : #0A0A0A;
}
.menu {
	width: 75%;
	height: 100%;
	float:right;
	background : #FF9800;
}
.content_first {
	width: 100%;
	height: 35%;
	background : #4887F1;
}
.content_second {
	width: 100%;
	height: 30%;
}
.left {
	width: 50%;
	height: 100%;
	float:left;
}
.left_first {
	width: 100%;
	height: 50%;
	background : #FE7F35;
}
.left_second {
	width: 100%;
	height: 50%;
	background : #19A15F;
}
.right {
	width: 50%;
	height: 100%;
	float:right;
	background : #7FE22E;
}
.content_third {
	width: 100%;
	height: 15%;
	background : #844A29;
}
.footer {
	width: 100%;
	height: 10%;
	background : #C70039;
}
